<div class="container">
    <div class="card">
      <div class="card__header">
        <img src="https://media.istockphoto.com/photos/white-bowl-of-soup-with-alphabet-against-black-background-picture-id173934592?b=1&k=20&m=173934592&s=170667a&w=0&h=gpf_lAWTJzg5GL8dDT1JBf10RtfX0vm91dho9B5YK88=" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Sopa de letras </span>
       <a href="/Juegos-Pokemon/sopaLetras"><h4>Sopa de Letras</h4> </a> 
        <p>Elige cuantas palabras quieres buscar y el tamaño de la sopa de letra. Tendras que buscar los nombres de los pokemon que aparecen aleatoriamente. </p>
      </div>
      <div class="card__footer">
        <div class="user">
    
          <div class="user__info">
           
            <small>12/1/22</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card__header">
          <img src="https://source.unsplash.com/600x400/?Pokemon" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
          <span class="tag tag-brown">Cartas</span>
          <a href="/Juegos-Pokemon/memorion">   <h4>Memorion</h4></a>
          <p>Elige la cantidad de parejas que quieres jugar e intenta encontrar las parejas iguales con el numero menor de intentos posible </p>
        </div>
        <div class="card__footer">
          <div class="user">
    
            <div class="user__info">
             
              <small>13/01/22</small>
            </div>
          </div>
        </div>
      </div>
    <div class="card">
      <div class="card__header">
        <img src="https://images.unsplash.com/photo-1636611448688-ac4f9c37ce7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-brown">Cartas</span>
        <a href="/Juegos-Pokemon/cartas"> <h4>Cartas Pokemon</h4>  </a> 
        <p>Enfrente a la IA en un juego de cartas de azar. Tendras que seleccionar un pokemon y ganar al rival. Los poder mas alto gana y los pokemon con tipo siempre ganan a los sin tipo. Si has leido hasta aqui eres un heroe.</p>
      </div>
      <div class="card__footer">
        <div class="user">
         
          <div class="user__info">
            
            <small>22/12/21</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__header">
        <img src="https://source.unsplash.com/600x400/?pokemon" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-red">Test</span>
        <a href="/Juegos-Pokemon/test"> <h4>Test de Pokemon</h4></a>
        <p>Aparecera un Pokemon aletario, tendras que adivinar su nombre tipo peso y altura.</p>
      </div>
      <div class="card__footer">
        <div class="user">
          
          <div class="user__info">
            
            <small>19/21/21</small>
          </div>
        </div>
      </div>
    </div>
    
  </div>