
<section class="cards-wrapper">
  <div class="card-grid-space">
 
    <a class="card" href="/Juegos-Pokemon/sopaLetras" style="--bg-img: url('https://source.unsplash.com/600x400/?pokemon')">
      <div>
        <h1>Sopa de Letras</h1>
        <p>Elige cuantas palabras vas a buscar y el tamaño de la sopa de letras. </p>
        <div class="date">12/1/22</div>
        <div class="tags">
          <div class="tag">Sopa de letras</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">

    <a class="card" href="/Juegos-Pokemon/memorion" style="--bg-img: url('https://source.unsplash.com/600x400/?Pokemon')">
      <div>
        <h1>Memorion</h1>
        <p>Elige la cantidad de parejas que quieres jugar y localizalas en el menor numero de intentos posible.</p>
        <div class="date">13/01/22</div>
        <div class="tags">
          <div class="tag">Cartas</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
   
    <a class="card" href="/Juegos-Pokemon/cartas" style="--bg-img: url('https://source.unsplash.com/600x400/?PokemonArt')">
      <div>
        <h1>Cartas Pokemon</h1>
        <p>Enfrente a la IA en un juego de cartas de azar. Tendras que seleccionar un pokemon y ganar al rival.</p>
        <div class="date">22/12/21</div>
        <div class="tags">
          <div class="tag">Cartas</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">

    <a class="card" href="/Juegos-Pokemon/test" style="--bg-img: url('https://source.unsplash.com/600x400/?Pokemon?Card')">
      <div>
        <h1>Test Pokemon</h1>
        <p>Aparecera un Pokemon aletario, tendras que adivinar su nombre tipo peso y altura.</p>
        <div class="date">19/21/21</div>
        <div class="tags">
          <div class="tag">Test</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
   
    <a class="card" href="/Juegos-Pokemon/CuatroEnRaya" style="--bg-img: url('https://source.unsplash.com/600x400/?Pokeball')">
      <div>
        <h1>Cuatro en raya</h1>
        <p>Enfrente a la IA y desbloquea todas las pokeball segun ganas.</p>
        <div class="date">30/01/22</div>
        <div class="tags">
          <div class="tag">Juegos Clásicos</div>
        </div>
      </div>
    </a>
  </div>

</section>