<div class="contenedorPrincipal" *ngIf="logeado != ''">


<div class="rank">
<h3>Memorion 6 parejas</h3>

<ul *ngFor="let usuario of usuariosMemorion">
    <li> <a href="/Juegos-Pokemon/{{usuario.id}}">{{usuario.email[0]}} </a>  {{usuario.memorion}} turnos</li>
 
  </ul>

</div>

<div class="rank" >
    <h3>Sopa de letras 4 plalabras 400 letras</h3>
    
    <ul *ngFor="let usuario of usuariosSopa">
        <li> <a href="/Juegos-Pokemon/{{usuario.id}}">{{usuario.email[0]}} </a> {{usuario.SopaLetras}} seg</li>
     
      </ul>

</div>

<div class="rank">
<h3>Test aciertos</h3>
    
<ul *ngFor="let usuario of usuariosAciertos">
    <li> <a href="/Juegos-Pokemon/{{usuario.id}}">{{usuario.email[0]}} </a> {{usuario.testAciertos}}</li>
 
  </ul>


</div>
<div class="rank">
    <h3>Test fallos</h3>
    <ul *ngFor="let usuario of usuariosfallos">
        <li> <a href="/Juegos-Pokemon/{{usuario.id}}">{{usuario.email[0]}}</a>  {{usuario.testFallos}}   </li>
     
      </ul>


</div>

<div class="rank">
  <h3>Victorias 4 en raya</h3>
  <ul *ngFor="let usuario of usuariosCuatroRaya">
      <li> <a href="/Juegos-Pokemon/{{usuario.id}}">{{usuario.email[0]}}</a>  {{usuario.CuatroRaya}}   </li>
   
    </ul>


</div>



</div>
<div class="contenedorLogin" *ngIf="logeado == ''">
  <div>
   <h1>Loegueate para ver tu perfil</h1>
   
   <button  mat-raised-button color="warn"  (click)="irLogin()">Ir al Login</button>
</div>
</div>