




<div class="contenedorPrincipal">
    <div class="card text-center">
      <div class="card-header"  *ngIf="mostrar==true">
        <b> LOGIN</b>
      </div>
      <div class="login-block" *ngIf="mostrar==true">
        <label style="float: left;">Email</label>
        <form [formGroup]="formulario" (ngSubmit)="logIn()">
        <input class="form-control m-2" type="email" placeholder="Email"  formControlName="email" >
  
        <label style="float: left;">Password</label>
        <input class="form-control m-2" type="password" placeholder="Password"  formControlName="password" >
        <button  mat-raised-button color="warn"type="submit" [disabled]="!formulario.valid" class="botonEntrar" >LogIn</button>
        <button  mat-raised-button (click)="formularioRegistrarse()" class="botonCambio" >Si no tienes cuenta haz click aqui</button>
        <!--button  mat-raised-button color="warn" class="btn btn-primary btn-block m-2" type="submit" (click)="Ingresar()" [disabled]="!formulario.valid" >Registrarse</button-->
        <!--button  mat-raised-button color="warn" class="btn btn-primary btn-block m-2" (click)="IngresarGoogle()">Ingresar con Gmail</button-->
      </form>
      </div>
      <div class="card-header"  *ngIf="mostrar==false">
        <b> REGISTRATE</b>
      </div>
      <div class="login-block" *ngIf="mostrar==false" >
        <label style="float: left;">Email</label>
        <form [formGroup]="formularioRegistrarseform" (ngSubmit)="Ingresar()">
        <input class="form-control m-2" type="email" placeholder="Email"  formControlName="emailRegistrarse" >
  
        <label style="float: left;">Password</label>
        <input class="form-control m-2" type="password" placeholder="Password"  formControlName="passwordRegistrarse" >
        <button  mat-raised-button color="secondary" type="submit" [disabled]="!formularioRegistrarseform.valid"  class="botonEntrar" >Registrarse</button>
        <button  mat-raised-button (click)="formularioRegistrarse()" class="botonCambio" >Si ya tienes cuenta haz click aqui</button>
        <!--button  mat-raised-button color="warn" class="btn btn-primary btn-block m-2" type="submit" (click)="Ingresar()" [disabled]="!formulario.valid" >Registrarse</button-->
        <!--button  mat-raised-button color="warn" class="btn btn-primary btn-block m-2" (click)="IngresarGoogle()">Ingresar con Gmail</button-->
      </form>
      </div>

  
    </div>
  </div>
  
  <swal #error title="Error" icon="error"  text="Datos incorrectos, si no tenes cuenta registrate!" >
      
  </swal>